/* about.css */
.about-us-container {
    padding: 50px;
    text-align: center;
    /* background: url('../images/portfolio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  