.cta-container {
    background-color: #f9f9f9;
    background: url("../images/calltoBack.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
  }
  
  .cta-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cta-container p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #80675f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .cta-button:hover {
    background-color: #631309;
  }
  